<nav class="menu" role="nav">
    <ul>
      <li><a href="/about">About </a></li>
      <li><a href="/rss">RSS feed </a></li>
      <li><a href="/contact">Contact </a></li>
      <li><a href="https://twitter.com/felixpalazuelos">Twitter </a></li>
    </ul>
</nav>
